* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    background-color: #dadada;
    cursor: pointer;
}

.btn2 {
    padding: 10px 20px;
    background-color: red;
    cursor: pointer;
}

.element {
    font-size: 4rem;
    font-weight: 900;
}

.container {
    height: 300px;
    width: 300px;
    background-color: green;
}